img{
    width: 100%;
    max-height:50vh;
    object-fit:cover;
}

.pro-overlay{
    position: absolute;
    bottom:2rem;
}

.progress{
    height:25px;
    border-radius:5px;
}

i{
    font-size:30px;
}

.list-group-item i{
    font-size:20px;
}